In [2]:
import pandas as pd
jane = pd.Series([1,2,3,4,5,6,7])
jane

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [2]:
data = {
"calories": [420, 380, 390],
"duration": [50, 40, 45]
}
df = pd.DataFrame(data,index = ["a","b","c"])
df #table
#print(df) #str

   calories  duration
a       420        50
b       380        40
c       390        45

In [3]:
print(df["duration"]) #column

a    50
b    40
c    45
Name: duration, dtype: int64

In [5]:
print(df.loc["a"]) #row #.locคือการระบุตำแหน่ง

calories    420
duration     50
Name: a, dtype: int64

In [6]:
print(df["duration"].loc["b"])

40

In [7]:
list = []
for a in range(10):
  b = []
  for c in range(10):
    b.append((a*10)+c)
  list.append(b)
#print(list)
df1 = pd.DataFrame(list,columns = ["a","b","c","d","e","f","g","h","i","j"])
df1

    a   b   c   d   e   f   g   h   i   j
0   0   1   2   3   4   5   6   7   8   9
1  10  11  12  13  14  15  16  17  18  19
2  20  21  22  23  24  25  26  27  28  29
3  30  31  32  33  34  35  36  37  38  39
4  40  41  42  43  44  45  46  47  48  49
5  50  51  52  53  54  55  56  57  58  59
6  60  61  62  63  64  65  66  67  68  69
7  70  71  72  73  74  75  76  77  78  79
8  80  81  82  83  84  85  86  87  88  89
9  90  91  92  93  94  95  96  97  98  99

In [49]:
dog = pd.read_csv("data.csv")
dog
# print(dog.info())
# print(dog.head(7)) #ตัวหัว
#print(dog.tail())
# print(dog.loc[0,"Duration"]) #[row,column]
# dog.loc[0, "Duration"] = 500
# print(dog.loc[0,"Duration"])

#dataframe show all row
#column "Duration" > 60 เปลี่ยน 60

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.3 KB
None

In [8]:
dog = pd.read_csv("data.csv")
# dog
# print(dog.info())
# print(dog.head(5))
# print(dog.head(5))
# print(dog.tail(7))

#show all row #Duration>60 =60
for i in range(169):
    if dog.loc[i,"Duration"]>60:
        dog.loc[i,"Duration"]=60
print(dog.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        60    120       150     320.4
168        60    125       150     330.4

[169 rows x 4 columns]

In [12]:
fish = pd.read_csv("data2.csv")
fish

#fish.dropna(inplace = True) #True False
fish.fillna(260,inplace = True)
#print(fish.duplicated())
# fish.drop_duplicates(inplace = True)

# for i in range(31):
#     if fish.loc[int(i),"Duration"]<fish.loc[int(i+1),"Duration"]:
#         fish.loc[int(i),"Duraton"]=fish.loc[int(i+1),"Duration"]
fish
#Calories มีข้อมูล NaN อยู่ fillna ด้วยอะไรก็ได้ เเต่ fillna เฉพาะcolumn Calories
#เรียงข้อมูลcolumn Duration จากมากไปน้อย

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     260.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           260    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132     260.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [10]:
fish = pd.read_csv("data2.csv")
fish

fish["Date"]=pd.to_datetime(fish["Date"])
print(fish.to_string(inplace=True))

<bound method DataFrame.to_string of     Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0>